.costumes-image {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1020px;
    gap: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-costume h2 {
    margin-top: 7px;
    padding: 5px 15px;
}

.main-content {
    margin-top: 30px;
}